vagrant/.vagrant
logs
project/project
project/.sbtserver
target
tmp
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sbtserver
modules/common/target
modules/common/logs
modules/content/target
modules/content/logs
modules/segmentation/target
modules/segmentation/logs
*.sc
.DS_Store
/.env
/sandbox
app/Decrypt.scala
.jvmopts
.bsp
